[submodule "services/radio-web"]
	path = services/radio-web
	url = https://github.com/WeebDataHoarder/radio-web.git
[submodule "services/stewdio-api"]
	path = services/stewdio-api
	url = https://github.com/WeebDataHoarder/stewdio-api.git
[submodule "services/kawa"]
	path = services/kawa
	url = https://github.com/WeebDataHoarder/kawa.git
[submodule "services/radio-ircbot"]
	path = services/radio-ircbot
	url = https://github.com/WeebDataHoarder/radio-ircbot.git
[submodule "services/radio-dj"]
	path = services/radio-dj
	url = https://github.com/WeebDataHoarder/radio-dj.git
[submodule "services/MeteorLight"]
	path = services/MeteorLight
	url = https://git.gammaspectra.live/S.O.N.G/MeteorLight.git
